@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

/* Variáveis */
:root {
  --font-size-12: 0.9rem;
  --font-size-18: 1.2rem;
  --font-size-24: 1.5rem;
}

* {
  /* Reset CSS */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Padrões para usar no código */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: black;
  font-size: 1.2rem;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
}

/*Descrição do site*/
.description {
  width: 100%;
}

.description h2 {
  max-width: 620px;
  width: 100%;
  font-size: var(--font-size-18);
  margin: 0 auto;
  text-align: center;
  padding: 40px 2%;
}

.description button {
  margin: 0 auto;
  display: block;
  padding: 10px 0;
  font-size: 1rem;
  color: #ff0d0d;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
}
/* Fim Descrição do site*/
/* Filtros */

.grid-filtros {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1280px;
  padding: 0 2%;
}

.filtro-item h3 {
  font-size: var(--font-size-18);
  padding: 10px 0;
}

.filtro-item .filtro-grid-1 {
  width: 100%;
}

.filtro-item .filtro-grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filtro-item-grid {
  display: flex;
  align-items: center;
}

.filtro-item-grid label {
  margin-left: 5px;
  font-size: var(--font-size-12);
}

.filtro-item-grid input {
  zoom: 1.6;
  margin: 3px 0;
}

.item-video .video-img a img {
  height: 180px;
  width: auto;
  object-fit: cover;
}

.video-conteudo {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}

.video-conteudo-titulo p a {
  font-size: var(--font-size-12);
}

.video-conteudo-autor {
  flex: 1;
}

.video-conteudo-autor p a {
  font-size: var(--font-size-12);
}

/* width: 100%;
    padding: 0 2%;
    height: 200px; */
/* zoom: 2; */
