@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 15px;
  border: 3px solid transparent;
} */

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

/* Variáveis */
:root {
  --font-size-12: 0.9rem;
  --font-size-18: 1.2rem;
  --font-size-24: 1.5rem;
}

* {
  /* Reset CSS */
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;

  /* Padrões para usar no código */
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: black;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  overflow-y: scroll;
}

/* Header */
header {
  width: 100%;
}

header h1 {
  padding: 25px 2%;
  width: 100%;
  text-align: center;
  color: #ff0d0d;
  font-size: var(--font-size-24);
}

header h1 span {
  color: #0085ff;
  font-size: var(--font-size-24);
}

header nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

header nav button {
  background-color: transparent;
  text-decoration: none;
  color: black;
  padding: 20px;
  cursor: pointer;
  font-size: var(--font-size-12);
}

header nav button.nav-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background: #ff0d0d;
}

header nav button::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
}
/* Fim */

/*Descrição do site*/
.description {
  width: 100%;
}

.description h2 {
  max-width: 620px;
  width: 100%;
  font-size: var(--font-size-18);
  margin: 0 auto;
  text-align: center;
  padding: 40px 2%;
}

.description button {
  margin: 0 auto;
  display: block;
  padding: 10px 0;
  font-size: 1rem;
  color: #ff0d0d;
  text-decoration: underline;
  background-color: transparent;
  cursor: pointer;
}
/* Fim Descrição do site*/
/* Filtros */

.grid-filtros {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1280px;
  padding: 0 2%;
}

.filtro-item h3 {
  font-size: var(--font-size-18);
  padding: 10px 0;
}

.filtro-item .filtro-grid-1 {
  width: 100%;
}

.filtro-item .filtro-grid-3 {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filtro-item-grid {
  display: flex;
  align-items: center;
}

.filtro-item-grid label {
  margin-left: 5px;
  font-size: var(--font-size-12);
}

.filtro-item-grid input {
  zoom: 1.6;
  margin: 3px 0;
}

/* Fim dos Filtros */
/* Botão gerar Playlist */
.gerar-playlist {
  width: 100%;
  padding: 40px 0;
}

.gerar-playlist button {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: #05d2ff;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.2s;
  font-size: var(--font-size-18);
}

.gerar-playlist button:hover {
  background-color: #009abd;
}
/* Fim Botão gerar Playlist */

.item-video .video-img a img {
  height: 180px;
  width: auto;
  object-fit: cover;
}

.video-conteudo {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}

.video-conteudo-titulo p a {
  font-size: var(--font-size-12);
}

.video-conteudo-autor {
  flex: 1;
}

.video-conteudo-autor p a {
  font-size: var(--font-size-12);
}

.video-conteudo-botoes button {
  padding: 10px 15px;
  font-size: var(--font-size-12);
}

.video-conteudo-botoes button:nth-child(1) {
  border: 2px solid #05d2ff;
  background-color: transparent;
  color: #05d2ff;
  margin-right: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.video-conteudo-botoes button:nth-child(1):hover {
  background: #05d2ff;
  color: white;
}
.video-conteudo-botoes button:nth-child(1).selected {
  background: #05d2ff;
  color: white;
}

.video-conteudo-botoes button:nth-child(2) {
  border: 2px solid #ff0d0d;
  background-color: transparent;
  color: #ff0d0d;
  margin-left: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.video-conteudo-botoes button:nth-child(2):hover {
  background: #ff0d0d;
  color: white;
}

.video-conteudo-botoes button:nth-child(2).selected {
  background: #ff0d0d;
  color: white;
}

/* Fim dos vídeos */
.tela-principal {
  display: none;
  animation: opacityColor 0.2s ease-in-out;
}

.tela-favoritos {
  display: none;
  animation: opacityColor 0.2s ease-in-out;
}

.tela-nao-gostei {
  display: none;
  animation: opacityColor 0.2s ease-in-out;
}

.display-block {
  display: block;
}

@keyframes opacityColor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .grid-filtros {
    grid-template-columns: 1fr;
  }

  .filtro-item .filtro-grid-3 {
    grid-template-columns: 1fr 1fr;
  }

  .item-video .video-img a img {
    width: 100%;
    padding: 0 2%;
    height: 200px;
  }

  .filtro-item-grid input {
    zoom: 2;
  }

  .filtro-item-grid {
    padding: 10px 0;
  }

  .video-conteudo-botoes {
    display: flex;
    justify-content: space-between;
  }
}
